<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daoli.sheng.tai.mapper.ShengtaiExamRecordEntityMapper">
  <resultMap id="BaseResultMap" type="com.daoli.sheng.tai.entity.ShengtaiExamRecordEntity">
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="exam_record_id" property="examRecordId" jdbcType="VARCHAR"/>
    <result column="exam_index_id" property="examIndexId" jdbcType="VARCHAR"/>
    <result column="exam_index_desc" property="examIndexDesc" jdbcType="VARCHAR"/>
    <result column="exam_detail_id" property="examDetailId" jdbcType="VARCHAR"/>
    <result column="exam_detail_desc" property="examDetailDesc" jdbcType="VARCHAR"/>
    <result column="exam_score" property="examScore" jdbcType="REAL"/>
    <result column="department_id" property="departmentId" jdbcType="VARCHAR"/>
    <result column="record_name" property="recordName" jdbcType="VARCHAR"/>
    <result column="record_abstract" property="recordAbstract" jdbcType="VARCHAR"/>
    <result column="record_master_name" property="recordMasterName" jdbcType="VARCHAR"/>
    <result column="record_group_name" property="recordGroupName" jdbcType="VARCHAR"/>
    <result column="record_status" property="recordStatus" jdbcType="VARCHAR"/>
    <result column="create_uid" property="createUid" jdbcType="VARCHAR"/>
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="valid" property="valid" jdbcType="TINYINT"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, exam_record_id, exam_index_id, exam_index_desc, exam_detail_id, exam_detail_desc, 
    exam_score, department_id, record_name, record_abstract, record_master_name, record_group_name, 
    record_status, create_uid, modify_time, create_time, valid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List"/>
    from tbl_shengtai_exam_record
    where id = #{id,jdbcType=INTEGER}
  </select>



  <select id="queryExamRecordByDepartmentId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from tbl_shengtai_exam_record
    where department_id = #{departmentId,jdbcType=VARCHAR}
    and valid = 1
  </select>


  <select id="queryExamRecordByDepartmentIdAndDetailId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from tbl_shengtai_exam_record
    where department_id = #{departmentId,jdbcType=VARCHAR}
    and exam_detail_id = #{detailId,jdbcType=VARCHAR}
    and valid = 1
  </select>



  <select id="queryByExamIdAndDepartmentId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from tbl_shengtai_exam_record
    where examId = #{examIdjdbcType=VARCHAR}
    AND departmentId = #{departmentId,jdbcType=VARCHAR}
    AND valid = 1
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_shengtai_exam_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.daoli.sheng.tai.entity.ShengtaiExamRecordEntity">
    insert into tbl_shengtai_exam_record (id, exam_record_id, exam_index_id, 
      exam_index_desc, exam_detail_id, exam_detail_desc, 
      exam_score, department_id, record_name, 
      record_abstract, record_master_name, record_group_name, 
      record_status, create_uid, modify_time, 
      create_time, valid)
    values (#{id,jdbcType=INTEGER}, #{examRecordId,jdbcType=VARCHAR}, #{examIndexId,jdbcType=VARCHAR}, 
      #{examIndexDesc,jdbcType=VARCHAR}, #{examDetailId,jdbcType=VARCHAR}, #{examDetailDesc,jdbcType=VARCHAR}, 
      #{examScore,jdbcType=REAL}, #{departmentId,jdbcType=VARCHAR}, #{recordName,jdbcType=VARCHAR}, 
      #{recordAbstract,jdbcType=VARCHAR}, #{recordMasterName,jdbcType=VARCHAR}, #{recordGroupName,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createUid,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{valid,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.daoli.sheng.tai.entity.ShengtaiExamRecordEntity"
    useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into tbl_shengtai_exam_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="examRecordId != null">
        exam_record_id,
      </if>
      <if test="examIndexId != null">
        exam_index_id,
      </if>
      <if test="examIndexDesc != null">
        exam_index_desc,
      </if>
      <if test="examDetailId != null">
        exam_detail_id,
      </if>
      <if test="examDetailDesc != null">
        exam_detail_desc,
      </if>
      <if test="examScore != null">
        exam_score,
      </if>
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="recordName != null">
        record_name,
      </if>
      <if test="recordAbstract != null">
        record_abstract,
      </if>
      <if test="recordMasterName != null">
        record_master_name,
      </if>
      <if test="recordGroupName != null">
        record_group_name,
      </if>
      <if test="recordStatus != null">
        record_status,
      </if>
      <if test="createUid != null">
        create_uid,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="valid != null">
        valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="examRecordId != null">
        #{examRecordId,jdbcType=VARCHAR},
      </if>
      <if test="examIndexId != null">
        #{examIndexId,jdbcType=VARCHAR},
      </if>
      <if test="examIndexDesc != null">
        #{examIndexDesc,jdbcType=VARCHAR},
      </if>
      <if test="examDetailId != null">
        #{examDetailId,jdbcType=VARCHAR},
      </if>
      <if test="examDetailDesc != null">
        #{examDetailDesc,jdbcType=VARCHAR},
      </if>
      <if test="examScore != null">
        #{examScore,jdbcType=REAL},
      </if>
      <if test="departmentId != null">
        #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="recordName != null">
        #{recordName,jdbcType=VARCHAR},
      </if>
      <if test="recordAbstract != null">
        #{recordAbstract,jdbcType=VARCHAR},
      </if>
      <if test="recordMasterName != null">
        #{recordMasterName,jdbcType=VARCHAR},
      </if>
      <if test="recordGroupName != null">
        #{recordGroupName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createUid != null">
        #{createUid,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective"
    parameterType="com.daoli.sheng.tai.entity.ShengtaiExamRecordEntity">
    update tbl_shengtai_exam_record
    <set>
      <if test="examRecordId != null">
        exam_record_id = #{examRecordId,jdbcType=VARCHAR},
      </if>
      <if test="examIndexId != null">
        exam_index_id = #{examIndexId,jdbcType=VARCHAR},
      </if>
      <if test="examIndexDesc != null">
        exam_index_desc = #{examIndexDesc,jdbcType=VARCHAR},
      </if>
      <if test="examDetailId != null">
        exam_detail_id = #{examDetailId,jdbcType=VARCHAR},
      </if>
      <if test="examDetailDesc != null">
        exam_detail_desc = #{examDetailDesc,jdbcType=VARCHAR},
      </if>
      <if test="examScore != null">
        exam_score = #{examScore,jdbcType=REAL},
      </if>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="recordName != null">
        record_name = #{recordName,jdbcType=VARCHAR},
      </if>
      <if test="recordAbstract != null">
        record_abstract = #{recordAbstract,jdbcType=VARCHAR},
      </if>
      <if test="recordMasterName != null">
        record_master_name = #{recordMasterName,jdbcType=VARCHAR},
      </if>
      <if test="recordGroupName != null">
        record_group_name = #{recordGroupName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        record_status = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createUid != null">
        create_uid = #{createUid,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey"
    parameterType="com.daoli.sheng.tai.entity.ShengtaiExamRecordEntity">
    update tbl_shengtai_exam_record
    set exam_record_id = #{examRecordId,jdbcType=VARCHAR},
      exam_index_id = #{examIndexId,jdbcType=VARCHAR},
      exam_index_desc = #{examIndexDesc,jdbcType=VARCHAR},
      exam_detail_id = #{examDetailId,jdbcType=VARCHAR},
      exam_detail_desc = #{examDetailDesc,jdbcType=VARCHAR},
      exam_score = #{examScore,jdbcType=REAL},
      department_id = #{departmentId,jdbcType=VARCHAR},
      record_name = #{recordName,jdbcType=VARCHAR},
      record_abstract = #{recordAbstract,jdbcType=VARCHAR},
      record_master_name = #{recordMasterName,jdbcType=VARCHAR},
      record_group_name = #{recordGroupName,jdbcType=VARCHAR},
      record_status = #{recordStatus,jdbcType=VARCHAR},
      create_uid = #{createUid,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>