<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daoli.sheng.tai.mapper.ShengTaiExamEntityMapper">
  <resultMap id="BaseResultMap" type="com.daoli.sheng.tai.entity.ShengTaiExamEntity">
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="exam_id" property="examId" jdbcType="VARCHAR"/>
    <result column="parent_exam_id" property="parentExamId" jdbcType="INTEGER"/>
    <result column="exam_type" property="examType" jdbcType="VARCHAR"/>
    <result column="exam_name" property="examName" jdbcType="VARCHAR"/>
    <result column="exam_desc" property="examDesc" jdbcType="VARCHAR"/>
    <result column="exam_score" property="examScore" jdbcType="INTEGER"/>
    <result column="exam_status" property="examStatus" jdbcType="VARCHAR"/>
    <result column="create_uid" property="createUid" jdbcType="VARCHAR"/>
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="valid" property="valid" jdbcType="TINYINT"/>
    <result column="assigned_num" property="assignedNum" jdbcType="INTEGER"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, exam_id, parent_exam_id, exam_type, exam_name, exam_desc, exam_score, exam_status, 
    create_uid, start_time, end_time, modify_time, create_time, valid, assigned_num
  </sql>

  <sql id="Department_Exam_Column_List">
      tbl_shengtai_exam.id, tbl_shengtai_exam.exam_id, tbl_shengtai_exam.parent_exam_id, tbl_shengtai_exam.exam_type, tbl_shengtai_exam.exam_name, tbl_shengtai_exam.exam_desc, tbl_shengtai_exam.exam_score, tbl_shengtai_exam.exam_status,
    tbl_shengtai_exam.create_uid, tbl_shengtai_exam.start_time, tbl_shengtai_exam.end_time, tbl_shengtai_exam.modify_time, tbl_shengtai_exam.create_time, tbl_shengtai_exam.valid, tbl_shengtai_exam.assigned_num,tbl_department_exam.department_id
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List"/>
    from tbl_shengtai_exam
    where id = #{id,jdbcType=INTEGER}
  </select>


  <select id="queryJinXingZhongExamByDepartmentId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Department_Exam_Column_List"/>
    FROM
    tbl_department_exam
    left join tbl_shengtai_exam
    ON tbl_department_exam.exam_id = tbl_shengtai_exam.exam_id
    WHERE tbl_shengtai_exam.exam_status = '考核中'
    AND tbl_department_exam.department_id = #{departmentId,jdbcType=VARCHAR}
    AND tbl_shengtai_exam.valid = "1"
  </select>



  <select id="queryExamByDepartmentIdWithTime" resultMap="BaseResultMap">
    select
    <include refid="Department_Exam_Column_List"/>
    FROM
    tbl_department_exam
    left join tbl_shengtai_exam
    ON tbl_department_exam.exam_id = tbl_shengtai_exam.exam_id
    WHERE tbl_department_exam.department_id = #{departmentId,jdbcType=VARCHAR}
    AND tbl_shengtai_exam.start_time &gt;= #{startTime,jdbcType=TIMESTAMP}
    AND tbl_shengtai_exam.end_time &lt;= #{endTime,jdbcType=TIMESTAMP}
    AND tbl_shengtai_exam.exam_type = #{examType,jdbcType=VARCHAR}
    AND tbl_department_exam.department_id = #{departmentId,jdbcType=VARCHAR}
    AND tbl_shengtai_exam.valid = "1"
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_shengtai_exam
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.daoli.sheng.tai.entity.ShengTaiExamEntity">
    insert into tbl_shengtai_exam (id, exam_id, parent_exam_id, 
      exam_type, exam_name, exam_desc, 
      exam_score, exam_status, create_uid, 
      start_time, end_time, modify_time, 
      create_time, valid, assigned_num
      )
    values (#{id,jdbcType=INTEGER}, #{examId,jdbcType=VARCHAR}, #{parentExamId,jdbcType=INTEGER}, 
      #{examType,jdbcType=VARCHAR}, #{examName,jdbcType=VARCHAR}, #{examDesc,jdbcType=VARCHAR}, 
      #{examScore,jdbcType=INTEGER}, #{examStatus,jdbcType=VARCHAR}, #{createUid,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{valid,jdbcType=TINYINT}, #{assignedNum,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.daoli.sheng.tai.entity.ShengTaiExamEntity">
    insert into tbl_shengtai_exam
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="examId != null">
        exam_id,
      </if>
      <if test="parentExamId != null">
        parent_exam_id,
      </if>
      <if test="examType != null">
        exam_type,
      </if>
      <if test="examName != null">
        exam_name,
      </if>
      <if test="examDesc != null">
        exam_desc,
      </if>
      <if test="examScore != null">
        exam_score,
      </if>
      <if test="examStatus != null">
        exam_status,
      </if>
      <if test="createUid != null">
        create_uid,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="valid != null">
        valid,
      </if>
      <if test="assignedNum != null">
        assigned_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="examId != null">
        #{examId,jdbcType=VARCHAR},
      </if>
      <if test="parentExamId != null">
        #{parentExamId,jdbcType=INTEGER},
      </if>
      <if test="examType != null">
        #{examType,jdbcType=VARCHAR},
      </if>
      <if test="examName != null">
        #{examName,jdbcType=VARCHAR},
      </if>
      <if test="examDesc != null">
        #{examDesc,jdbcType=VARCHAR},
      </if>
      <if test="examScore != null">
        #{examScore,jdbcType=INTEGER},
      </if>
      <if test="examStatus != null">
        #{examStatus,jdbcType=VARCHAR},
      </if>
      <if test="createUid != null">
        #{createUid,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=TINYINT},
      </if>
      <if test="assignedNum != null">
        #{assignedNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective"
    parameterType="com.daoli.sheng.tai.entity.ShengTaiExamEntity">
    update tbl_shengtai_exam
    <set>
      <if test="examId != null">
        exam_id = #{examId,jdbcType=VARCHAR},
      </if>
      <if test="parentExamId != null">
        parent_exam_id = #{parentExamId,jdbcType=INTEGER},
      </if>
      <if test="examType != null">
        exam_type = #{examType,jdbcType=VARCHAR},
      </if>
      <if test="examName != null">
        exam_name = #{examName,jdbcType=VARCHAR},
      </if>
      <if test="examDesc != null">
        exam_desc = #{examDesc,jdbcType=VARCHAR},
      </if>
      <if test="examScore != null">
        exam_score = #{examScore,jdbcType=INTEGER},
      </if>
      <if test="examStatus != null">
        exam_status = #{examStatus,jdbcType=VARCHAR},
      </if>
      <if test="createUid != null">
        create_uid = #{createUid,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=TINYINT},
      </if>
      <if test="assignedNum != null">
        assigned_num = #{assignedNum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.daoli.sheng.tai.entity.ShengTaiExamEntity">
    update tbl_shengtai_exam
    set exam_id = #{examId,jdbcType=VARCHAR},
      parent_exam_id = #{parentExamId,jdbcType=INTEGER},
      exam_type = #{examType,jdbcType=VARCHAR},
      exam_name = #{examName,jdbcType=VARCHAR},
      exam_desc = #{examDesc,jdbcType=VARCHAR},
      exam_score = #{examScore,jdbcType=INTEGER},
      exam_status = #{examStatus,jdbcType=VARCHAR},
      create_uid = #{createUid,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=TINYINT},
      assigned_num = #{assignedNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryByExamId" resultMap="BaseResultMap" parameterType="java.lang.String">

    select
    <include refid="Base_Column_List"/>
    from tbl_shengtai_exam
    where valid = "1" and exam_id = #{examId,jdbcType=VARCHAR}
  </select>

  <select id="queryExamsByParentExamId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from tbl_shengtai_exam
    where valid = "1" and parent_exam_id = #{parentExamId,jdbcType=INTEGER}
  </select>


  <select id="queryExamsByCondition" resultMap="BaseResultMap"
    parameterType="com.daoli.sheng.tai.entity.ShengTaiExamEntity">

    select
    <include refid="Base_Column_List"/>
    from tbl_shengtai_exam
    where
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER} and
      </if>
      <if test="examId != null">
        exam_id = #{examId,jdbcType=VARCHAR} and
      </if>
      <if test="parentExamId != null">
        parent_exam_id = #{parentExamId,jdbcType=INTEGER} and
      </if>
      <if test="examType != null">
        exam_type = #{examType,jdbcType=VARCHAR} and
      </if>
      <if test="examName != null">
        exam_name = #{examName,jdbcType=VARCHAR} and
      </if>
      <if test="examDesc != null">
        exam_desc = #{examDesc,jdbcType=VARCHAR} and
      </if>
      <if test="examScore != null">
        exam_score = #{examScore,jdbcType=INTEGER} and
      </if>
      <if test="examStatus != null">
        exam_status = #{examStatus,jdbcType=VARCHAR} and
      </if>
      <if test="createUid != null">
        create_uid = #{createUid,jdbcType=VARCHAR} and
      </if>
      <if test="startTime != null and endTime != null">
        <!-- start_time >= #{startTime,jdbcType=TIMESTAMP}  and -->
        start_time between #{startTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP} and
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP} and
      </if>
      valid = "1"
    </trim>
  </select>

  <select id="selectByFieldFuzzyOr" resultMap="BaseResultMap"
    parameterType="com.daoli.sheng.tai.entity.ShengTaiExamEntity">

    select
    <include refid="Base_Column_List"/>
    from tbl_shengtai_exam
    where

    valid = "1" and
    <trim prefix="(" suffix=")" suffixOverrides="or">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER} or
      </if>
      <if test="examId != null">
        exam_id = #{examId,jdbcType=VARCHAR} or
      </if>
      <if test="parentExamId != null">
        parent_exam_id = #{parentExamId,jdbcType=INTEGER} or
      </if>
      <if test="examType != null">
        exam_type = #{examType,jdbcType=VARCHAR} or
      </if>
      <if test="examName != null">
        exam_name = #{examName,jdbcType=VARCHAR} or
      </if>
      <if test="examDesc != null">
        exam_desc = #{examDesc,jdbcType=VARCHAR} or
      </if>
      <if test="examScore != null">
        exam_score = #{examScore,jdbcType=INTEGER} or
      </if>
      <if test="examStatus != null">
        exam_status = #{examStatus,jdbcType=VARCHAR} or
      </if>
      <if test="createUid != null">
        create_uid = #{createUid,jdbcType=VARCHAR} or
      </if>
      <if test="startTime != null and endTime != null">
        start_time between #{startTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP} or
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP} or
      </if>

    </trim>
  </select>

  <select id="queryExamsByFuzzyCondition" resultMap="BaseResultMap"
    parameterType="com.daoli.sheng.tai.entity.ShengTaiExamEntity">

    select
    <include refid="Base_Column_List"/>
    from tbl_shengtai_exam
    where

    valid = "1" and
    <trim prefix="(" suffix=")" suffixOverrides="and">

      <if test="examType != null">
        exam_type like "%"#{examType,jdbcType=VARCHAR}"%" and
      </if>
      <if test="examName != null">
        exam_name like "%"#{examName,jdbcType=VARCHAR}"%" and
      </if>
      <if test="examDesc != null">
        exam_desc like "%"#{examDesc,jdbcType=VARCHAR}"%" and
      </if>
      <if test="examStatus != null">
        exam_status like "%"#{examStatus,jdbcType=VARCHAR}"%" and
      </if>
      <if test="createUid != null">
        create_uid like "%"#{createUid,jdbcType=VARCHAR}"%" and
      </if>
      <if test="startTime != null and endTime != null" >
        start_time &gt;= #{startTime,jdbcType=TIMESTAMP}  and
        end_time &lt;=  #{endTime,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </select>

  <select id="queryAllExams" resultMap="BaseResultMap"
    parameterType="com.daoli.sheng.tai.entity.ShengTaiExamEntity">

    select
    <include refid="Base_Column_List"/>
    from tbl_shengtai_exam
    where

    valid = "1"
  </select>


  <update id="updateZhiBiaoStatusByFenLeiPid" parameterType="com.daoli.sheng.tai.entity.ShengTaiExamEntity" >
    update  tbl_shengtai_exam a
    inner join(
      select tbl_shengtai_exam.id from tbl_shengtai_exam  where tbl_shengtai_exam.valid="1"  and tbl_shengtai_exam.parent_exam_id = #{id,jdbcType=INTEGER}
    )  b
    on a.id=b.id
    set a.exam_status = #{examStatus,jdbcType=VARCHAR},
        a.modify_time = #{modifyTime,jdbcType=TIMESTAMP};

  </update>

  <update id="updateYaoDianStatusByFenLeiPid" parameterType="com.daoli.sheng.tai.entity.ShengTaiExamEntity" >
    update  tbl_shengtai_exam t1
    inner join (
    select  id from tbl_shengtai_exam where tbl_shengtai_exam.parent_exam_id =  #{id,jdbcType=INTEGER} and tbl_shengtai_exam.valid="1"
    ) t2
    on t1.parent_exam_id = t2.id
    set t1.exam_status = #{examStatus,jdbcType=VARCHAR},
    t1.modify_time = #{modifyTime,jdbcType=TIMESTAMP};
  </update>


  <update id="updateZhiBiaoScoreByYaoDianParentId" parameterType="java.lang.Integer" >

    update
    tbl_shengtai_exam a,
    (
      select sum(exam_score) as zhibiao_score
      from tbl_shengtai_exam
      where   valid = "1" and parent_exam_id= #{yaoDianParentId,jdbcType=INTEGER}
    )b
    set a.exam_score=IFNULL(b.zhibiao_score,0) where a.id= #{yaoDianParentId,jdbcType=INTEGER}
  </update>

  <update id="updateFenLeiScoreByYaoDianParentId" parameterType="java.lang.Integer" >
    update tbl_shengtai_exam a,
    (
    select sum(exam_score) as fenlei_score
    from tbl_shengtai_exam
      where  parent_exam_id in (
      select parent_exam_id from tbl_shengtai_exam  where  valid = "1" and  id = #{yaoDianParentId,jdbcType=INTEGER}
      )
    )b,
    (
    select parent_exam_id
    from tbl_shengtai_exam  where  id = #{yaoDianParentId,jdbcType=INTEGER}
    )c
    set a.exam_score=IFNULL(b.fenlei_score,0) where a.id=c.parent_exam_id;
  </update>


  <update id="delectZhiBiaoByFenLeiPid" parameterType="java.lang.Integer">
    update  tbl_shengtai_exam a
    inner join(
    select tbl_shengtai_exam.id from tbl_shengtai_exam  where tbl_shengtai_exam.valid="1"  and tbl_shengtai_exam.parent_exam_id =  #{id,jdbcType=INTEGER}
    )  b
    on a.id=b.id
    set a.valid = "0";

  </update>

  <update id="delectYaoDianByZhiBiaoPid" parameterType="java.lang.Integer">
    update  tbl_shengtai_exam a
    inner join(
    select tbl_shengtai_exam.id from tbl_shengtai_exam  where tbl_shengtai_exam.valid="1"  and tbl_shengtai_exam.parent_exam_id =  #{id,jdbcType=INTEGER}
    )  b
    on a.id=b.id
    set a.valid = "0";

  </update>

  <update id="delectYaoDianByFenLeiPid" parameterType="java.lang.Integer" >
    update  tbl_shengtai_exam t1
    inner join (
    select  id from tbl_shengtai_exam where tbl_shengtai_exam.parent_exam_id =  #{id,jdbcType=INTEGER} and tbl_shengtai_exam.valid="1"
    ) t2
    on t1.parent_exam_id = t2.id
    set t1.valid = "0";
  </update>
</mapper>
