<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daoli.sheng.tai.mapper.ShengtaiExamRecordAdditionEntityMapper" >
  <resultMap id="BaseResultMap" type="com.daoli.sheng.tai.entity.ShengtaiExamRecordAdditionEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="exam_record_id" property="examRecordId" jdbcType="VARCHAR" />
    <result column="addition_id" property="additionId" jdbcType="VARCHAR" />
    <result column="addition_name" property="additionName" jdbcType="VARCHAR" />
    <result column="addition_location" property="additionLocation" jdbcType="VARCHAR" />
    <result column="create_uid" property="createUid" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="valid" property="valid" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, exam_record_id, addition_id, addition_name, addition_location, create_uid, modify_time, 
    create_time, valid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_shengtai_exam_record_addition
    where id = #{id,jdbcType=INTEGER}
  </select>


  <select id="queryRecordAddition" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tbl_shengtai_exam_record_addition
    where exam_record_id = #{examRecordId,jdbcType=INTEGER}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_shengtai_exam_record_addition
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.daoli.sheng.tai.entity.ShengtaiExamRecordAdditionEntity" >
    insert into tbl_shengtai_exam_record_addition (id, exam_record_id, addition_id, 
      addition_name, addition_location, create_uid, 
      modify_time, create_time, valid
      )
    values (#{id,jdbcType=INTEGER}, #{examRecordId,jdbcType=VARCHAR}, #{additionId,jdbcType=VARCHAR}, 
      #{additionName,jdbcType=VARCHAR}, #{additionLocation,jdbcType=VARCHAR}, #{createUid,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{valid,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.daoli.sheng.tai.entity.ShengtaiExamRecordAdditionEntity" >
    insert into tbl_shengtai_exam_record_addition
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="examRecordId != null" >
        exam_record_id,
      </if>
      <if test="additionId != null" >
        addition_id,
      </if>
      <if test="additionName != null" >
        addition_name,
      </if>
      <if test="additionLocation != null" >
        addition_location,
      </if>
      <if test="createUid != null" >
        create_uid,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="valid != null" >
        valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="examRecordId != null" >
        #{examRecordId,jdbcType=VARCHAR},
      </if>
      <if test="additionId != null" >
        #{additionId,jdbcType=VARCHAR},
      </if>
      <if test="additionName != null" >
        #{additionName,jdbcType=VARCHAR},
      </if>
      <if test="additionLocation != null" >
        #{additionLocation,jdbcType=VARCHAR},
      </if>
      <if test="createUid != null" >
        #{createUid,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.daoli.sheng.tai.entity.ShengtaiExamRecordAdditionEntity" >
    update tbl_shengtai_exam_record_addition
    <set >
      <if test="examRecordId != null" >
        exam_record_id = #{examRecordId,jdbcType=VARCHAR},
      </if>
      <if test="additionId != null" >
        addition_id = #{additionId,jdbcType=VARCHAR},
      </if>
      <if test="additionName != null" >
        addition_name = #{additionName,jdbcType=VARCHAR},
      </if>
      <if test="additionLocation != null" >
        addition_location = #{additionLocation,jdbcType=VARCHAR},
      </if>
      <if test="createUid != null" >
        create_uid = #{createUid,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null" >
        valid = #{valid,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.daoli.sheng.tai.entity.ShengtaiExamRecordAdditionEntity" >
    update tbl_shengtai_exam_record_addition
    set exam_record_id = #{examRecordId,jdbcType=VARCHAR},
      addition_id = #{additionId,jdbcType=VARCHAR},
      addition_name = #{additionName,jdbcType=VARCHAR},
      addition_location = #{additionLocation,jdbcType=VARCHAR},
      create_uid = #{createUid,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>